export LD_LIBRARY_PATH=$(python -c "import os, nvidia.cuda_nvrtc.lib, nvidia.cuda_runtime.lib, nvidia.cublas.lib; print(':'.join(os.path.dirname(m.__file__) for m in [nvidia.cuda_nvrtc.lib, nvidia.cuda_runtime.lib, nvidia.cublas.lib]))"):$LD_LIBRARY_PATH
