.env
.venv
pip
/venv

scripts/__pycache__/

/data/first_batch_datasets
/data/first_batch_downloads
*.db

/transformation/token.json

/transformation/metadata.db
/transformation/token.json
pii_test/__pycache__